@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(249, 246, 246);
    width: 10vw;
    font-family: 'Titillium Web', sans-serif;
    height: 100vh;
    
}
.sidebar nav{
    padding: 25px;
}
.sidebar nav li{
    list-style-type: none;
    font-size: 25px;
    padding: 10px 0;

}
.main{
    background-color: rgb(233, 233, 216);
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    background-color: rgb(49, 248, 182);
    height: 60vh;
    width: 80vw;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.devpic img{
    height: 60vh;
}
.hello{
    font-size: 85px;
}
.name{
    font-size: 70px;
    font-weight: bold;

}
.about{
    font-size: 50px;

}
.button button{

}